:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f7f7f7;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f7f7f7;
  }
}

@media screen and (max-width: 768px) {
  button {
    font-size: small;
  }

  #app {
    max-width: none;
  }
}

/* 复合代码块增强样式 */
.mix-code-container {
  height: max-content;
  border: 1px solid #ccc;
  display: flex;
  position: relative;
  overflow: hidden;
  padding-left: 5px;
}

/* 隐藏所有的 radio inputs */
.mix-code-container .mix-tab {
  display: none;
}

.mix-code-container .mix-tab-item {
  list-style-type: none;
  height: auto;
  width: auto;
  overflow-x: hidden;
  margin: 10px;
}

.mix-code-container .mix-tab-item>label {
  width: min(120px, max-content);
}

/* 悬浮标签上的样式 */
.mix-code-container .mix-tab:hover+label {
  cursor: pointer;
  background-color: #ddd;
  font-weight: bold;
}

/* 当选中标签时的样式 */
.mix-code-container .mix-tab:checked+label {
  background-color: #ddd;
  line-height: 20px;
  font-weight: bold;
}

/* 隐藏所有的 tab-content */
.mix-code-container .mix-code-content-virtual {
  color: white;
  display: none;
  position: relative;
  left: 5px;
  margin-top: 10px;
  width: 1px;
  z-index: -999;
}

.mix-code-container .mix-code-content {
  color: black;
  display: none;
  position: absolute;
  left: 5px;
  margin-top: 10px;
  width: calc(100% - 10px);
}

/* 显示选中的 tab-content */
.mix-code-container .mix-tab:checked+label~.mix-code-content-virtual {
  display: flex;
  padding-top: 0px;
}

/* 显示选中的 tab-content */
.mix-code-container .mix-tab:checked+label+.mix-code-content {
  display: block;
  padding-top: 0px;
}